@font-face {
  font-family: "EximaGeometric";   /*Can be any text*/
  src: local("EximaGeometric"),
    url("./fonts/Exima\ Geometric.ttf") format("truetype");
}

@font-face {
  font-family: "ChangaOneRegular";   /*Can be any text*/
  src: local("ChangaOneRegular"),
    url("./fonts/ChangaOne-Regular.ttf") format("truetype");
}

:root {
  /*-----   WINNO BEARZ COLORS   -----*/
  --blue-dandela: rgb(9, 67, 151); /* blue dandela */
  --blue-dandela-decimal:9, 67, 151; /* blue dandela */
  --blue-opacity-dandela: rgba(9, 67, 151, 0.5); /* blue dandela */
  --blue-light-dandela: rgb(55, 138, 255); /* blue dandela */
  --blue-light-dandela-decimal: 55, 138, 255; /* blue dandela */
  --blue-light-opacity-dandela: rgba(55, 138, 255, 0.5); /* blue dandela */
  --purple-dandela: rgb(122, 107, 162); /* purple dandela */
  --purple-dandela-decimal: 122, 107, 162; /* purple dandela */
  --primary: var(--blue-dandela); /* blue dandela */
  --primary-decimal: var(--blue-dandela-decimal); /* blue dandela */
  --primary-opacity: var(--blue-opacity-dandela); /* blue dandela */
  --secondary: var(--blue-light-dandela); /* purple dandela */
  --secondary-decimal: var(--blue-light-dandela-decimal); /* purple dandela */
  --secondary-opacity: var(--blue-light-opacity-dandela); /* purple dandela */

  --black: rgb(0, 0, 0); /* purple dandela */
  --white: rgb(255, 255, 255); /* purple dandela */
  --grey: #727171;
  --grey-light: #efefef;
  --grey-dark:#1d1d1d;

  --background-card:var(--grey-light);

  /* standards */
  --yellow-winno: #ebc908;
  --yellow-dark-winno: #c4a708;
  /*--yellow-dark-winno: #dbbc0b;*/
  --brown-winno: #733E39;
  --brown-dark-winno: #571616;
  --blue-winno:#0099DB;
  --blue-dark-winno:#2769CA;

  --primary-dark: var(--yellow-dark-winno);
  --secondary-dark: var(--brown-dark-winno);
  --third-dark: var(--blue-dark-winno);
  
  /* decimals */
  --yellow-winno-decimal: 235, 201, 8;
  --brown-winno-decimal:115, 62, 57;
  --brown-dark-winno-decimal: 87, 22, 22;
  --blue-winno-decimal:0, 153, 219;
  --blue-dark-winno-decimal:39, 105, 202;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --text-style-general: 'EximaGeometric';
  --text-style-title: 'Press Start 2P', sans-serif;
}

[data-theme="light"] {
  --background-color: white;
  --text-primary: black;
  --text-secondary: white;
  --menu-background: var(--grey-light);
  --card-background:var(--grey-light);
  /*
  --primary: var(--yellow-winno);
  --secondary: var(--brown-dark-winno);
  --third: var(--blue-dark-winno);
  
  */
}

[data-theme="dark"] {
  --primary: var(--blue-light-dandela);
  --primary-opacity: var(--secondary-opacity); /* blue dandela */
  --secondary: var(--blue-dandela);
  --background-color: black;
  --text-primary: white;
  --text-secondary: black;
  --menu-background: var(--grey-dark);
  --card-background:var(--grey-dark);
  /*
  --primary: var(--yellow-winno);
  --secondary: var(--brown-winno);
  --third: var(--blue-winno);
 
  */
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-primary);
    background: var(--background-color);
    /*font-family: var(--text-style-general);
    */
  font-family: 'ChangaOneRegular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

* {
  box-sizing: border-box;
}

.evidence {
  font-family: "ChangaOneRegular";
  font-weight: bold;
  font-size: large;
}
