.footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1vh 0;
    border-top: 1px solid var(--card-background);
    justify-content: center;
    align-items: center;
  }

  .footerText {
    color: var(--divider-color);
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }